﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PT PAMAPERSADA NUSANTARA</title>
    <link href="~/faviconpama.ico" rel="shortcut icon" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom Fonts -->
        <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        /*html {
            scroll-behavior: smooth;
        }*/
    </style>
    <script src="~/js/clarity.js" type="text/javascript"></script>
    <!-- </head> -->
</head>
<body>
    <header>
        <!-- Navigation -->
        <div>
            <div class="nav" id="nav">
                <a href="javascript:void(0)" id="close" class="close" onclick="closeNav()">&times;</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["menu_home"]</a>
                <a asp-area="" asp-controller="AboutUs" asp-action="Index">@Localizer["menu_aboutus"]</a>
                <a asp-area="" asp-controller="VisiMisi" asp-action="Index">@Localizer["menu_visimisi"]</a>
                <a asp-area="" asp-controller="BodBoc" asp-action="Index">BOC & BOD</a>
                <a asp-area="" asp-controller="BusinessPortfolio" asp-action="Index">@Localizer["menu_bisnis"]</a>
                <a asp-area="" asp-controller="History" asp-action="Index">@Localizer["menu_history"]</a>
                <a asp-area="" asp-controller="Award" asp-action="Index">@Localizer["menu_award"]</a>
                <a asp-area="" asp-controller="Map" asp-action="Index">@Localizer["menu_area"]</a>
                <a asp-area="" asp-controller="News" asp-action="Index">@Localizer["menu_mediaroom"]</a>
                <a asp-area="" asp-controller="Elearning" asp-action="Index">E-Learning</a>
                <a asp-area="" asp-controller="Landing" asp-action="Index">Storyboard</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo-pama" style="" src="~/images/logopama.png" alt="logopama" />
                </a>
                <span id="open" class="open" onclick="openNav()">
                    &#9776
                </span>
            </div>
        </div>
        <!-- Navigation end -->
    </header>
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <section class="content-section" id="footers" style="background: rgb(255, 195, 0);">
        <div class="container">
            <div class="p-3">
                <h6 class="font-weight-bold footer-text">Copyright &copy; 2019 - PT Pamapersada Nusantara</h6>
            </div>
        </div>
    </section>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- </body></html> -->
</body>
</html>