﻿<link rel="stylesheet" href="~/css/bodboc.css" type="text/css" media="screen" runat="server" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <h1 class="font-weight-bold text-center mt-3 mb-0 title-boc">B<small>oard</small> <small>of</small> C<small>ommisioners</small></h1>
    <hr class="mt-2 mb-md-2" />`
    <div class="row justify-content-center my-n5 mb-2" data-aos="fade-in">
        @{
            List<BoardOfDirectors> boardofdirectors = ViewBag.PresidentKomisaris;
            foreach (var boardofdirector in boardofdirectors)
            {
                <div class="boc col-md-5 my-5 mb-2 text-center">
                    <figure>
                        <a href="#" class="d-block mb-3" data-toggle="modal" data-target="#modalprescom">

                            @{
                                String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + boardofdirector.ImageUrl;

                            }
                            <img class="image-boc img-fluid img-thumbnail" src=@imageurl alt="Bpk Djony">
                        </a>
                        <figcaption class="boc-name rounded-top text-center bg-warning font-weight-bold">@boardofdirector.Name</figcaption>
                        <figcaption class="boc-title rounded-bottom text-center bg-warning">@boardofdirector.Possition</figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modalprescom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLongTitle">@boardofdirector.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">@boardofdirector.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row justify-content-between" data-aos="fade-up">
        @{
            List<BoardOfDirectors> Komisaris = ViewBag.Komisaris;
            foreach (var kom in Komisaris)
            {
                String modalName = kom.Id.ToString();

                <div class="col-md-5 my-5 mb-md-2 text-center">
                    <figure>
                        <a href="#" class="d-block mb-4" data-toggle="modal" data-target="#modalkomisaris-@modalName">
                            @{
                                String imgKom = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + kom.ImageUrl;

                            }
                            <img class="image-boc img-fluid img-thumbnail" style="object-fit:cover; max-height: 491px" src=@imgKom alt="Bpk Djony">
                        </a>
                        <figcaption class="boc-name rounded-top text-center bg-warning font-weight-bold">@kom.Name</figcaption>
                        <figcaption class="boc-title rounded-bottom text-center bg-warning">@kom.Possition</figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modalkomisaris-@modalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLongTitle">@kom.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">@kom.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <br />
    <br />
    <h1 class="font-weight-bold text-center mb-0 title-bod">B<small>oard</small> <small>of</small> D<small>irectors</small></h1>
    <hr class="mt-2 mb-md-5">
    <div class="row justify-content-around" data-aos="fade-down">
        @{
            List<BoardOfDirectors> PresidentDirektur = ViewBag.PresidentDirektur;
            foreach (var presdir in PresidentDirektur)
            {
                String modalName = presdir.Id.ToString();

                <div class="bod col-md-5 col-sm-12 my-n1 mb-2 text-center">
                    <figure>
                        <a href="#" class="d-block h-100 mb-4" data-toggle="modal" data-target="#modalpresdir-@modalName">
                            @{
                                String imgPresdir = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + presdir.ImageUrl;

                            }
                            <img class="image-bod img-fluid img-thumbnail" style="object-fit:cover; max-height: 492px" src=@imgPresdir alt="Image BOD">
                        </a>
                        <figcaption class="bod-name rounded-top text-center bg-warning font-weight-bold">@presdir.Name</figcaption>
                        <figcaption class="bod-title rounded-bottom bg-warning text-center">@presdir.Possition</figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modalpresdir-@modalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLongTitle">@presdir.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">@presdir.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row mb-5 justify-content-between" data-aos="fade-up">
        @{
            List<BoardOfDirectors> Direktur = ViewBag.Direktur;
            foreach (var dir in Direktur)
            {
                String modalName = dir.Id.ToString();
                <div class="bod col-md col-sm-12 text-center coldirektur">
                    <figure>
                        <a href="#" class="d-block h-100 mb-4" data-toggle="modal" data-target="#modaldirektur-@modalName">
                            @{
                                String imgdir = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + dir.ImageUrl;

                            }
                            <img class="image-bod img-fluid img-thumbnail" src=@imgdir alt="Image BOD">
                        </a>
                        <figcaption class="bod-name rounded-top text-center bg-warning font-weight-bold">@dir.Name</figcaption>
                        <figcaption class="bod-title rounded-bottom bg-warning text-center">@dir.Possition</figcaption>
                    </figure>
                </div>
                <div class="modal fade" id="modaldirektur-@modalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-warning">
                                <h5 class="modal-title" id="exampleModalLongTitle">@dir.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">@dir.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="~/js/bodboc.js"></script>