﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/award.css" type="text/css" media="screen" runat="server" />

<div class="container">
    <br />
    <h1 class="font-weight-bold text-center mt-5 mb-0 title">@Localizer["main_title"]</h1>
    <div class="p-3 container rounded">
        <div class="row justify-content-center">
            <div class="col text-center dropdown border-0">
                <button type="button" class="btn btn-outline-warning dropdown-toggle mt-2" data-toggle="dropdown">
                    @Localizer["categories"]
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="Award?param=1">@Localizer["dd_province"]</a>
                    <a class="dropdown-item" href="Award?param=2">@Localizer["dd_national"]</a>
                    <a class="dropdown-item" href="Award?param=3">@Localizer["dd_international"]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center mb-md-5">
        @{
            List<Awards> generaltop = ViewBag.International;
            int i = 0;
            if (generaltop.Count > 0)
            {
                foreach (var general in generaltop)
                {
                    if (i == 0)
                    {
                        String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + general.ImageUrl;
                        <div class="col-md-5 mb-2">
                            <figure>
                                <a href="#" class="d-block h-100 mb-4" onclick="return false;">
                                    <img class="imgmainaward img-fluid img-thumbnail" src="@imageurl" alt="img_award">
                                </a>
                                <figcaption class="caption-top p-2 rounded text-center bg-warning font-weight-bold mt-n2">@general.Title</figcaption>
                            </figure>
                        </div>
                    }
                    i++;
                }
            }
        }
    </div>
    <div class="row justify-content-around text-center">
        @{
            List<Awards> generalsecond = ViewBag.National;
            if (generalsecond.Count > 0)
            {
                foreach (var general in generalsecond)
                {

                    String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + general.ImageUrl;
                    <div class="col-md-5 mb-2">
                        <figure>
                            <a href="#" class="d-block h-100 mb-4" onclick="return false;">
                                <img class="imgmainaward img-fluid img-thumbnail" src="@imageurl" alt="img-award">
                            </a>
                            <figcaption class="caption-top p-2 rounded text-center bg-warning font-weight-bold">@general.Title</figcaption>
                        </figure>
                    </div>
                }
            }
        }
    </div>
    <div class="row mb-5 text-center">
        @{
            List<Awards> generals = ViewBag.General;
            if (generals.Count > 0)
            {
                foreach (var general in generals)
                {
                    String modalName = general.Id.ToString();
                    String imageurlgeneral = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + general.ImageUrl;
                    <div class="bod col-md-4">
                        <figure>
                            <a href="#" class="d-block mb-4" data-toggle="modal" data-target="#modaldirektur-@modalName">
                                <img class="w-100 imgsideaward img-fluid img-thumbnail" src="@imageurlgeneral" alt="img_award">
                            </a>
                            <figcaption class="caption-general p-2 rounded text-center font-weight-bold">@general.Title</figcaption>
                        </figure>
                    </div>
                    <div class="modal fade" id="modaldirektur-@modalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-warning">
                                    <h5 class="modal-title" id="exampleModalLongTitle">@general.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img class="img-fluid" src="@imageurlgeneral" alt="@general.Title">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>