﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/history.css" type="text/css" media="screen" runat="server" />

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-white header-title">
        <br />
        <br />
        <br />
        <h1>@Localizer["main_title"]</h1>
        <br />
    </div>
</div>

<div class="container mt-md-5 mb-5">
    <div class="timeline py-md-5">
        @{
            int number = 0;
            List<Histories> histories = ViewBag.Histories;
            foreach (var history in histories)
            {
                {
                    number++;
                    if (number % 2 == 0)
                    {
                        <div class="container-time right">
                            <div class="content">
                                <h2 class="text-white">@history.Title</h2>
                                <p class="text-white company-name">@history.CompanyName</p>
                                <p class="text-white project-name">@history.ProjectName</p>
                                <p class="text-white description">@history.Description</p>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="container-time left">
                            <div class="content">
                                <h2 class="text-white">@history.Title</h2>
                                <p class="text-white company-name">@history.CompanyName</p>
                                <p class="text-white project-name">@history.ProjectName</p>
                                <p class="text-white description">@history.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>