﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/businessportfolio.css" type="text/css" media="screen" runat="server" />

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="header-title container text-white">
        <br />
        <br />
        <br />
        <h1 class="font-weight-bold">@Localizer["main_title"]</h1>
        <br />
    </div>
</div>
<section class="content">
    <div class="container mt-md-n5" style="min-height:500px;">
        <div class="row mb-4 justify-content-around">
            <div class="card col-md-3 my-2 bg-transparent border-warning">
                <div class="card-body text-warning">
                    <h4 class="card-title text-white font-weight-bold text-center pb-0">1993 - 1997</h4>
                    <p class="card-text">
                        <ul>
                            <li>Civil Construction</li>
                            <li>Forestry Industrial</li>
                            <li>Mining</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card col-md-3 my-2 bg-transparent border-warning">
                <div class="card-body text-warning">
                    <h4 class="card-title text-white font-weight-bold text-center pb-0">1998 - 2003</h4>
                    <p class="card-text">
                        <ul>
                            <li>Coal Mining and Hauling</li>
                            <li>OB Removal</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card col-md-3 my-2 bg-transparent border-warning">
                <div class="card-body text-warning">
                    <h4 class="card-title text-white font-weight-bold text-center pb-0">2004 - 2008</h4>
                    <p class="card-text">
                        <ul>
                            <li>Upstream - Downstream Mining Activity</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-4 justify-content-around">
            <div class="card col-md-3 my-2 bg-transparent border-warning">
                <div class="card-body text-warning">
                    <h4 class="card-title text-white font-weight-bold text-center pb-0">2009 - 2017</h4>
                    <p class="card-text">
                        <ul>
                            <li>Acquisition Mine Coal Concession</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card col-md-3 my-2 bg-transparent border-warning">
                <div class="card-body text-warning">
                    <h4 class="card-title text-white font-weight-bold text-center pb-0">2018 - now</h4>
                    <p class="card-text">
                        <ul>
                            <li>Power Plant</li>
                            <li>Coking Coal Owner</li>
                            <li>Mineral Owner</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>