﻿@{
    Layout = "";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PT PAMAPERSADA NUSANTARA</title>
    <link href="~/faviconpama.ico" rel="shortcut icon" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/landing3.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/js/clarity.js" type="text/javascript"></script>
    <!-- </head> -->
</head>
<body>
    <audio loop id="player">
        <source src="~/music/Cut_Great_hornbill.mp3">
    </audio>
    <audio loop id="typing">
        <source src="~/music/Typing.mp3">
    </audio>
    <div class="outer-wrapper">
        <div class="wrapper">
            <div class="slide one" id="s1">
                <div class="img-latar">
                    <img src="~/images/png hobo lobo/png segment 3/9. latar belakang.png" alt="" style="position:relative; width: 3250px;" />
                </div>
                <div class="img-landkiri">
                    <img src="~/images/png hobo lobo/png segment 3/8. land kiri.png" alt="" style="position:absolute; width: 1850px; top: -5px; left: 0px;" />
                </div>
                <div class="img-penanam">
                    <img src="~/images/png hobo lobo/png segment 3/5. penanam.png" alt="" style="position:absolute; width: 475px; top: -5px; left:1385px;" />
                </div>
                <div class="img-segmen4">
                    <img src="~/images/png hobo lobo/png segment 4/1. lanjutan.png" alt="" style="position:absolute; width: 2430px; top: 0px; left: 3050px;" />
                </div>
                <div class="img-landkanan">
                    <img src="~/images/png hobo lobo/png segment 3/3. hutan kanan.png" alt="" style="position:absolute; width: 1927px; top: 0px; left: 1730px;" />
                </div>
                <div class="img-tangancoal">
                    <img src="~/images/png hobo lobo/gif hobo segment 3/7.tangan batu bara.gif" alt="" style="position:absolute; width: 490px; top: 7px; left:525px;" />
                </div>
                <div class="img-tanganbibit">
                    <img src="~/images/png hobo lobo/gif hobo segment 3/4.tangan bibit.gif" alt="" style="position:absolute; width: 735px; top: 0px; left:925px;" />
                </div>
                <div class="img-tumpukanbatu">
                    <img src="~/images/png hobo lobo/gif hobo segment 3/6.tumpukan batu.gif" alt="" style="position:absolute; width: 470px; top: -2px; left: 340px;" />
                </div>
                <div class="img-pc300">
                    <img src="~/images/png hobo lobo/png segment 3/pc 3000 patokan.png" alt="" style="position:absolute; width: 520px; top: 2px; left: 0;" />
                </div>
                <div class="img-burung">
                    <img src="~/images/png hobo lobo/gif hobo segment 3/2.burung.gif" alt="" style="position:absolute; width: 1250px; top: 0; left: 2450px;" />
                </div>
                <div class="container-fluid" style="position: fixed;">
                    <div class="row">
                        <div id="panelControl" class="col-sm-5 pt-3 pb-1">
                            <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="Landing" asp-action="Index">Story 1</a>
                            <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="Landing2" asp-action="Index">Story 2</a>
                            <a class="btn btn-sm btn-outline-warning active" asp-area="" asp-controller="Landing3" asp-action="Index">Story 3</a>
                            <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="Landing4" asp-action="Index">Story 4</a>
                            <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="Landing5" asp-action="Index">Story 5</a>
                            <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index" role="button" aria-disabled="true"><i class="fa fa-home"></i></a>
                            <div class="button-language mt-1">
                                <a class="btn btn-sm btn-outline-warning" href="/id">Indonesia</a>
                                <a class="btn btn-sm btn-outline-warning" href="/en">English</a>
                            </div>
                            <div class="mt-md-2">
                                <p class="glow">Please, Scroll to the Right</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pt-3 narrative">
                            <p class="mb-0">
                                @Localizer["landing_body"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/landing3.js"></script>
    <!-- </body></html> -->
</body>
</html>