﻿@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PT PAMAPERSADA NUSANTARA</title>
    <link href="~/faviconpama.ico" rel="shortcut icon" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/home.css" type="text/css" media="screen" runat="server" />
    <link rel="stylesheet" href="~/vendor/fullpage/fullpage.css" type="text/css" media="screen" runat="server" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/js/clarity.js" type="text/javascript"></script>
    <!-- </head> -->
</head>
<body>
    <!--MODAL-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="exampleModalLabel">@Localizer["modal_title"]</h5>
                    <button type="button" class="close bg-transparent" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="bg-transparent">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="font-weight-bold">@Localizer["modal_beware"]</p>
                    <p>@Localizer["modal_p1"]</p>
                    <p>
                        @Localizer["modal_p2"]
                    </p>
                    <p>@Localizer["modal_p3"]</p>
                    <p class="font-weight-bold">
                        @Localizer["modal_regard"]
                        <br />
                        @Localizer["modal_regard1"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">@Localizer["modal_closebutton"]</button>
                </div>
            </div>
        </div>
    </div>
    <!--FULLPAGE-->
    <div id="fullpage">
        <!-- Header -->
        <div class="nav" id="nav">
            <a href="javascript:void(0)" id="close" class="close" onclick="closeNav()">&times;</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["menu_home"]</a>
            <a asp-area="" asp-controller="AboutUs" asp-action="Index">@Localizer["menu_aboutus"]</a>
            <a asp-area="" asp-controller="VisiMisi" asp-action="Index">@Localizer["menu_visimisi"]</a>
            <a asp-area="" asp-controller="BodBoc" asp-action="Index">BOC & BOD</a>
            <a asp-area="" asp-controller="BusinessPortfolio" asp-action="Index">@Localizer["menu_bisnis"]</a>
            <a asp-area="" asp-controller="History" asp-action="Index">@Localizer["menu_history"]</a>
            <a asp-area="" asp-controller="Award" asp-action="Index">@Localizer["menu_award"]</a>
            <a asp-area="" asp-controller="Map" asp-action="Index">@Localizer["menu_area"]</a>
            <a asp-area="" asp-controller="News" asp-action="Index">@Localizer["menu_mediaroom"]</a>
            <a asp-area="" asp-controller="Elearning" asp-action="Index">E-Learning</a>
            <a asp-area="" asp-controller="Landing" asp-action="Index">Storyboard</a>
        </div>
        <div class="section active header text-white" id="home">
            <div class="container">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo" src="~/images/logopama.png" alt="logopama" />
                    </a>
                    <div id="open" class="openhome" onclick="openNav()" data-toggle="tooltip" data-placement="bottom" title="Menu">
                        &#9776
                    </div>
                    <h1>
                        PT PAMAPERSADA NUSANTARA
                        <span class="flag-lang float-right m-0 bg-transparent align-content-center">
                            <a href="/id/home" data-toggle="tooltip" data-placement="bottom" title="Bahasa Indonesia">
                                <img class="flag-indonesia" src="~/images/icon flag/indonesia-flag.png" alt="" />
                            </a>
                            <a href="/en/home" data-toggle="tooltip" data-placement="bottom" title="English">
                                <img class="flag-uk" src="~/images/icon flag/united-kingdom-flag.png" alt="" />
                            </a>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="container-fluid">
                <div class="konten_header row">
                    <div class="col-md-6 coal mb-md-5 pl-lg-4 pt-md-4 order-md-2">
                        <img src="~/images/coal.gif" alt="spinning coal" />
                    </div>
                    <div class="col-md-6 text-konten-header order-md-1">
                        <div class="title_header font-weight-bold">
                            <p class="m-0 p-0">A Tradition</p>
                            <p class="mt-md-n4 p-0">in Reliability</p>
                        </div>
                        <p class="content_header text-justify m-0 p-0">
                            @Localizer["baner_body"]
                        </p>
                    </div>
                </div>
                <div class="text-center mouse pt-4">
                    <a href="#SectionEducation" class="d-none d-md-block">
                        <img src="~/images/ic-mouse.png" alt="" />
                        <p class="m-0 p-0">Scroll</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Tutup Header -->
        <!-- Konten Video -->
        <div class="section information" id="information">
            <div class="information-title container-fluid text-center m-auto">
                <h2 class="font-weight-bold mt-md-n5">@Localizer["title_centerofexcellence"]</h2>
            </div>
            <div class="container">
                <div class="media-slide slide mt-md-n5">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rACJrIKXADg?rel=0&modestbranding=1&showinfo=0" allowfullscreen></iframe>
                    </div>
                    <p class="p-0">
                        @Localizer["description_video3"]
                    </p>
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="location.href='@Url.Action("Index", "Elearning")'">More Videos</button>
                </div>
                <div class="media-slide slide mt-md-n5">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lZpUQu2mRgQ?rel=0&modestbranding=1&showinfo=0" allowfullscreen></iframe>
                    </div>
                    <p class="p-0">
                        @Localizer["description_video1"]

                    </p>
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="location.href='@Url.Action("Index", "Elearning")'">More Videos</button>
                </div>
                <div class="media-slide slide mt-md-n5">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rI7BIDlQM34?rel=0&modestbranding=1&showinfo=0" allowfullscreen></iframe>
                    </div>
                    <p class="p-0">
                        @Localizer["description_video2"]
                    </p>
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="location.href='@Url.Action("Index", "Elearning")'">More Videos</button>
                </div>
            </div>
        </div>
        <!-- Tutup Konten Video -->
        <!-- Jobsite -->
        <div class="section jobsite" id="jobsite">
            <div class="container-fluid jobsite-title text-center mt-md-n4 mb-4">
                <h2 class="font-weight-bold">@Localizer["title_jobsite"]</h2>
            </div>
            <div class="w-100 container-fluid text-white text-center jobsite-content">
                <p class="m-1">
                    @Localizer["content_area1"]
                </p>
                <p class="m-1">
                    @Localizer["content_area2"]
                </p>
            </div>
            <div class="container-fluid mb-3 mt-0 container-content-jobsite">
                <div class="img-jobsite text-center">
                    <a asp-area="" asp-controller="Map" asp-action="Index">
                        <img src="~/images/newmap.png" alt="jobsite" />
                    </a>
                </div>
            </div>
        </div>
        <!-- Tutup Jobsite -->
        <!-- History -->
        <div class="section history text-white text-center" id="history">
            <div class="history-title container-fluid mb-1 text-center pt-5">
                <h3 class="font-weight-bold">
                    @Localizer["title_history"]
                </h3>
            </div>
            <div class="container">
                <div class="history-wrapper">
                    <ul class="timeline timeline-horizontal">
                        @{
                            List<Histories> histories = ViewBag.Histories;
                            foreach (var history in histories)
                            {
                                <li class="timeline-item">
                                    <div class="timeline-badge warning"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h3 class="timeline-title text-warning text-left">@history.Title</h3>
                                        </div>
                                        <div class="timeline-body text-white text-left">
                                            <p>@history.CompanyName</p>
                                            <p>@history.ProjectName</p>
                                            <p>@history.Description</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="align-content-center mt-5">
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="location.href='@Url.Action("Index", "History")'">Read More</button>
                </div>
            </div>
        </div>
        <!--Tutup History -->
        <!--News-->
        <div class="section news" id="news">
            <div class="news-title container-fluid text-center pt-5">
                <h4 class="font-weight-bold">
                    @Localizer["title_mediaroom"]
                </h4>
            </div>
            <div class="container-fluid news-konten">

                <div class="row justify-content-md-around">
                    @{
                        List<News> listNews = ViewBag.News;
                        foreach (var newsObj in listNews)
                        {
                            String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + newsObj.ImageBaner;
                            <div class="col-md-4 mt-3">
                                <div class="news-card card h-100">
                                    @{
                                        if (newsObj.VideoImage == 1)
                                        {
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item card-img-top" src="@newsObj.UrlVideo" allowfullscreen></iframe>
                                            </div>
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="@imageurl" alt="" />

                                        }
                                        <a asp-controller="News" asp-action="Details" asp-route-id="@newsObj.Id">
                                            <h1> @newsObj.Title</h1>
                                        </a>
                                        <p class="font-weight-light mt-n1 mb-0">Publish Date : @newsObj.PublishDate.ToLongDateString()</p>
                                        <a href="@newsObj.SourceUrl" target="_blank">
                                            <p class="font-weight-light m-0 text-truncate">Source : @newsObj.SourceUrl</p>
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row justify-content-center mt-4">
                    <button type="button" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Index", "News")'">More News</button>
                </div>
            </div>
        </div>
        <!-- Man Power -->
        <div class="section manpower" id="manpower">
            <div class="container-fluid manpower-title text-center mt-md-n4 mb-md-4 mb-5">
                <h2 class="font-weight-bold">Man Power Certified</h2>
            </div>
            <div class="container-fluid text-white ml-5">
                <div class="row mb-4 justify-content-md-center">
                    <div class="offset-1 offset-md-0 col-3 col-md-2 vend">
                        <img class="img-bnsp" src="~/images/bnsp.png" alt="BNSP" />
                    </div>
                    <div class="col-3 col-md-2 vend">
                        <img class="img-sertifikat" src="~/images/sertifikatlsppama.jpg" alt="Sertifikat LSP" />
                    </div>
                    <div class="col-3 col-md-3 vend">
                        <img class="img-lsp" src="~/images/logo_lsppama.png" alt="Logo LSP" />
                    </div>
                </div>
                <div class="row pr-4 pr-md-5 mr-5">
                    <p>
                        @Localizer["manpower_p1"]
                    </p>
                    <p>
                        @Localizer["manpower_p2"]
                    </p>
                    <p>
                        @Localizer["manpower_p3"]
                    </p>
                </div>
                <div class="row">
                    <p class="yellow-text m-0">
                        (A Men Behind The Gun)
                    </p>
                </div>
            </div>
            <div class="container-fluid text-center mb-3 btnlsp">
                <a href="https://www.lsppama.com/home" target="_blank" class="btn btn-outline-warning text-center" >Read More</a>
            </div>
        </div>s
        <!-- Tutup Man Power -->
        <!--Footer-->
        <div id="mainfooter" class="section footer fp-auto-height">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-md-2">
                        <h5 class="footer-title mt-3 font-weight-bold">Contact Us</h5>
                        <h6 class="font-weight-bold mt-3 mb-0">
                            PT PAMAPERSADA NUSANTARA
                        </h6>
                        <p class="p-0 m-0">
                            Jl. Rawagelam I No.9, Kawasan Industri Pulogadung
                        </p>
                        <p class="p-0 m-0">
                            Jakarta 13930, Indonesia
                        </p>
                        <p class="p-0 m-0">
                            <span class="pr-1 m-0 footer-telephone"><img src="~/images/telephoneblack.png" alt="image telephone" /></span> (+62 21) 460 2015 (hunting)
                        </p>
                        <p class="p-0 m-0">
                            <span class="pr-1 m-0 footer-fax"><img src="~/images/faxblack.png" alt="image fax" /></span> (+62 21) 461 4010 / 460 1916
                        </p>
                        <p class="copyright font-weight-bold footer-text p-0">Copyright &copy; 2019 - PT Pamapersada Nusantara</p>
                    </div>
                    <div class="col-md-4 widget">
                        <h5 class="widget-title footer-title mt-3 font-weight-bold">Follow Us</h5>
                        <div class="widget-content mt-3 mb-5">
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-instagram icon-widget"></i></a>
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-facebook icon-widget"></i></a>
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-youtube-play icon-widget"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Tutup News-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/vendors/scrolloverflow.min.js"></script>
    <script src="~/vendor/fullpage/fullpage.js" type="text/javascript"></script>
    <script src="~/vendor/fullpage/fullpage.min.js" type="text/javascript"></script>
    <script src="~/js/home.js" type="text/javascript"></script>
    <!-- </body></html> -->
</body>
</html>