﻿@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/map.css" type="text/css" media="screen" runat="server" />

<section>
    <div id="map">

    </div>
</section>

<section>
    <div class="card">
        <div class="content-section-heading m-4">
            <h3 class="mb-2 text-center">@Localizer["main_title"]</h3>
            <h2 class="mb-3 text-center">PT PAMAPERSADA NUSANTARA</h2>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-6 mb-5 mb-sm-2">
                <ul class="list-group mb-2">
                    <li class="list-group-item list-group-item-primary">@Localizer["north_sumatera"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="">
                        Martabe Site Project (Gold Mining)
                    </li>
                </ul>
                <ul class="list-group mb-2">
                    <li class="list-group-item list-group-item-primary">@Localizer["south_sumatera"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="Tim., Sirah Pulau, Merapi Tim., Kabupaten Lahat, Sumatera Selatan">
                        MTBU Site Project (Coal Mining)
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">@Localizer["east_borneo"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="Batuah, Kec. Loa Janan, Kabupaten Kutai Kartanegara, Kalimantan Timur">
                        ABKL Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Buana Jaya, Tenggarong Seberang, Kutai Kartanegara Regency, Kalimantan Timur">
                        BAYA Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Besiq, Damai, West Kutai Regency, Kalimantan Timur">
                        BEKB Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Bena Baru, Sambaliung, Berau Regency, Kalimantan Timur">
                        BRCB Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Suka Damai, Tlk. Pandan, Kabupaten Kutai Timur, Kalimantan Timur">
                        INDO Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Unnamed Rd, Rantau Bintungan, Muara Samu, Kabupaten Paser, Kalimantan Timur">
                        KIDE Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Keraitan, Kec. Bengalon, Kabupaten Kutai Timur, Kalimantan Timur">
                        KPCB Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Bintang Area, KPC Mine Project, Kalimantan Tengah">
                        KPCS Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Dilang Puti, Bentian Besar, Kabupaten Kutai Barat, Kalimantan Timur">
                        TCMM Site Project (Coal Mining)
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 mb-5">
                <ul class="list-group mb-2">
                    <li class="list-group-item list-group-item-primary">@Localizer["south_borneo"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Padang Panjang, Tanta, Kabupaten Tabalong, Kalimantan Selatan">
                        ADRO Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Sungai Cuka, Kintap, Kabupaten Tanah Laut, Kalimantan Selatan">
                        ARIA Site Project (Coal Mining)
                    </li>
                </ul>
                <ul class="list-group mb-2">
                    <li class="list-group-item list-group-item-primary">@Localizer["central_borneo"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="Dekat Barunang, Kec. Kapuas Tengah, Kabupaten Kapuas, Kalimantan Tengah">
                        ASMI Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Lemo I, Kec. Teweh Tengah, Kabupaten Barito Utara, Kalimantan Tengah">
                        SMMS Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Buhut Jaya, Kec. Kapuas Tengah, Kabupaten Kapuas, Kalimantan Tengah">
                        TOPB Site Project (Coal Mining)
                    </li>
                    <li class="list-group-item">
                        PLTU PAMA-1 (Power Plant)
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">@Localizer["office"]</li>
                    <li class="list-group-item" data-toggle="tooltip" title="Jakarta Industrial Estate Pulo Gadung, Jl. Rawagelam I No.9, RW.9, Jatinegara, Kec. Cakung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta">
                        Head Office – Jakarta
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Jalan A. Yani, Landasan Ulin, Guntungmanggis, Kec. Landasan Ulin, Kota Banjar Baru, Kalimantan Selatan">
                        BBSO – Banjarmasin
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="Jl. Mulawarman, RT. 39, Kecamatan Balikpapan Timur, Manggar Baru, Kec. Balikpapan Tim., Kota Balikpapan, Kalimantan Timur">
                        BPOP – Balikpapan
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="">
                        PPSO – Palangkaraya
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js"></script>
<script src="~/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX6go1-dMJL6Q9EhVKrRPRAS23lJ7Aods&callback=initMap" async defer></script>