﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}
/*LOGO DAN TAB MENU*/
span {
    background: rgb(255, 195, 0) !important;
    margin-right: 10%;
}

/*NAV*/
.nav {
    width: 0;
    overflow-x: hidden;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background: black;
    transition: .3s;
    display: block;
    text-align: center;
}

    .nav a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding: .5em 0;
        transition: .3s;
        clear: right;
    }

    .nav a_home {
        font-size: 32px;
    }

    .nav a:not(:first-child):hover {
        color: rgb(255, 195, 0);
        text-decoration: underline;
    }

.close {
    float: right;
    margin: 1em 1em 0em 0em;
}

    .close:hover {
        color: transparent;
        text-shadow: 0 0 0 rgb(255, 195, 0);
    }

.openhome {
    color: rgb(255, 195, 0);
    font-size: 3vw;
    float: right;
    margin: 41px 41px 0 0;
    display: block;
    cursor: pointer;
}

.logo {
    width: 5.5vw;
    height: auto;
    float: left;
    margin: 24px 0 0 24px;
}

#glance {
    background-image: url('/images/background/photoasset3.png');
    background-color: black;
    background-size: 58%;
    background-position: right top;
    background-repeat: no-repeat;
}

    #glance .wrapper-glance {
        padding-top: 10%;
    }

.content-title h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.our-vision {
    font-family: 'Nunito Sans', sans-serif;
}

    .our-vision h3 {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

.our-faith {
    font-family: 'Nunito Sans', sans-serif;
}

    .our-faith h3 {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

.our-services {
    font-family: 'Nunito Sans', sans-serif;
}

    .our-services h3 {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .our-services p {
        line-height: 2;
    }

.title-our {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5vw;
}

.number-main-equip {
    font-size: 4.8vw;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.content-our {
    font-size: 1.4vw;
    font-family: 'Nunito Sans', sans-serif;
}

.number-mine {
    font-size: 4.8vw;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.list-support-office {
    font-size: 1vw;
    line-height: 1em;
    padding-left: 20px;
}

.content-mine {
    font-size: 1.4vw;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5%;
}

.icontruck img {
    width: 80%;
}

.iconemployee img {
    width: 100%;
}

.portfoliolist a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    line-height: 1.8;
}

    .portfoliolist a:hover {
        color: rgb(255, 195, 0);
    }

    .isolist {
        font-size: 1.5em;
        font-family: 'Nunito Sans', sans-serif;
    }

/*FOOTER*/

.footer {
    background: rgb(255, 195, 0);
    font-family: 'Nunito', sans-serif;
    color: black;
}

    .footer h5 {
        font-size: 18px;
    }

    .footer h6 {
        font-size: 14px;
    }

    .footer p {
        font-size: 12px;
    }

.footer-telephone img {
    width: 2%;
}

.footer-fax img {
    width: 2%;
}

.copyright {
    font-size: 14px;
}

.widget a {
    text-decoration: none;
    color: inherit;
}

.icon-widget {
    color: black;
}

    .icon-widget:hover {
        color: white;
    }

@media only screen and (max-width: 600px) {
    .openhome {
        font-size: 6vw;
        margin: 24px 24px 0 0;
    }

    .logo {
        width: 12%;
    }

    #glance .wrapper-glance {
        padding-top: 30%;
    }

    .content-aboutus {
        margin-top: 140px;
    }

        .content-aboutus h3 {
            font-size: 3.8vw;
        }

    .content-title h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 3.8vw;
    }

    .our-vision {
        margin-top: 5%;
    }

        .our-vision h3 {
            font-size: 3.6vw;
        }

        .our-vision p {
            font-size: 3vw;
        }

        .our-vision li {
            font-size: 3vw;
        }

    .our-faith h3 {
        font-size: 3.6vw;
    }

    .our-faith p {
        font-size: 3vw;
    }

    .our-faith li {
        font-size: 3vw;
    }

    table {
        font-size: 3vw;
    }

    .our-services h3 {
        font-size: 3.6vw;
    }

    .our-services h4 {
        font-size: 3.4vw;
    }

    .our-services p {
        font-size: 3vw;
    }

    .reclamation {
        margin-bottom: 30px;
    }

    .icontruck img {
        width: 80%;
        padding-left: 15%;
    }

    .number-main p {
        text-align: start;
    }

    .list-support-office {
        font-size: 2.8vw;
    }

    .content-mine {
        padding: 0 20% 0 0;
    }

    .isolist {
        font-size: 1em;
    }

    .portfoliolist {
        font-size: 0.8em;
    }

    .footer-telephone img {
        width: 4%;
    }

    .footer-fax img {
        width: 4%;
    }
}