﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');

.jumbotron {
    background-image: url('/images/background/photoasset3.png');
    background-color: black;
    background-size: 58%;
    background-position: right top;
    min-height: 400px;
    background-repeat:no-repeat
}

.header-title h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4vw;
    color: white;
}

.card-header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.9vw;
}

.card-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7vw;
}

@media only screen and (max-width: 600px) {
    .jumbotron-fluid {
        min-height: 0;
        background-size: 75%;
    }

    .header-title h1 {
        font-size: 4.5vw;
    }

    .card-header {
        font-size: 4vw;
    }
}
