﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');

.jumbotron-fluid {
    background-image: url('/images/background/photoasset3.png');
    background-color: black;
    background-size: 58%;
    background-attachment: fixed;
    background-position: right top;
    min-height: 400px;
    background-repeat: no-repeat
}

.breadcrumb {
    background-color: rgb(255, 195, 0);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

    .breadcrumb .breadcrumb-item {
        display: inline;
    }

.breadcrumb a{
    color: inherit;
}

    .breadcrumb a:visited {
        color: white;
        text-decoration: none;
    }

.breadcrumb .active {
    color: white;
}

.header-title h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 4vw;
    font-weight: bold;
}

.news-detail-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2vw;
}

.publish-date {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3vw;
    color: black;
}

.content {
    padding-bottom: 10%;
}

.card a{
    text-decoration: none;
}

.side-news-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.8vw;
}

.news-card-date {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 1vw;
}

.news-card-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6vw;
    color: white;
}

    .news-card-title a:hover {
        color: rgb(255, 195, 0);
    }

.sidenews a{
    color: white;
    text-decoration: none;
}

.sidenews img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 576px) {
    .jumbotron-fluid {
        min-height: 0;
        background-size: 75%;
    }

    .breadcrumb {
        font-size: 2.5vw;
    }

    .header-title h1 {
        font-size: 4.5vw;
    }

    .news-detail-title {
        font-size: 3.5vw;
    }

    .publish-date {
        font-size: 2.3vw;
    }

    .card-img-top {
        max-height: 150px;
    }

    .side-news-title {
        font-size: 5vw;
        padding: 20px 0 0 0;
    }

    .news-card-date {
        font-size: 2vw;
    }

    .news-card-title {
        font-size: 2.5vw;
    }
}
