﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');

.jumbotron-fluid {
    background-image: url('/images/background/photoasset2.png');
    background-color: black;
    background-size: 75%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat
}

.card a {
    text-decoration: none;
}

.header-title h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgb(255, 195, 0);
    color: white;
}

.content-wrapper {
    min-height: 700px;
}

@media screen and (max-width: 600px) {
    .header-title h1 {
        font-size: 5vw;
    }
}