﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');

.header-title h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.jumbotron-fluid {
    background-image: url(/images/background/photoasset4.png);
    background-color: black;
    background-size: 70%;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat
}

h2 {
    font-family:  'Nunito Sans', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.company-name {
    font-size: 24px;
}

.project-name {
    font-size: 18px;
}
.description {
    font-size: 18px;
}

/* ini buat garis batas timelinenya */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* ini buat garis batas timelinenya */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: gold;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container di sekitar contentnya*/
.container-time {
    padding: 10px 40px;
    position: relative;
    background-color: transparent;
    width: 50%;
}

/* buletan di timeline */
.container-time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color: white;
    border: 4px solid sandybrown;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* bikin kontainernya ke kiri */
.left {
    left: 0;
}

/* bikin kontainernya ke kanan */
.right {
    left: 50%;
}

/* tambah panah di kontainer kiri (tunjuk ke kanan) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(255, 195, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(255, 195, 0);
}

/* tambah panah di kontainer kanan (tunjuk ke kiri) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(255, 195, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 195, 0) transparent transparent;
}

/* Fix buletannya untuk kontainer yang di sisi kanan */
.right::after {
    left: -14px;
}

/* ini kontennya */
.content {
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid rgb(255, 195, 0);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .header-title h1 {
        font-size: 4.5vw;
    }
    /* membuat timelinenya di kiri pas 600px */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container-time {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* ini yang bikin panahnya ke kiri */
    .container-time::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* ini mastiin bulet"nya sama tempatnya */
    .left::after, .right::after {
        left: 18px;
    }
    /* Ini yang bikin semua container jadi kaya ke kiri */
    .right {
        left: 0%;
    }

    .container {
        margin-top: 0;
    }

    .content h2{
        font-size: 1.2em;
    }

    .content p{
        font-size: 1em;
    }

    .timeline {
        padding-top: 0;
    }
}