﻿@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}
/*LOGO DAN TAB MENU*/
span {
    background: rgb(255, 195, 0) !important;
    margin-right: 10%;
}

/*MODAL*/
.close span:hover {
    color: white;
}

.modal-body p:first-child {
    color: red;
    font-size: 20px;
}

.openhome {
    color: transparent;
    text-shadow: 0 0 0 rgb(255, 195, 0);
    font-size: 3vw;
    float: right;
    display: block;
    cursor: pointer;
    margin-top: 1%;
}

/*NAV*/
.nav {
    width: 0;
    overflow-x: hidden;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background: black;
    transition: .3s;
    display: block;
    text-align: center;
}

    .nav a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding: .5em 0;
        transition: .3s;
        clear: right;
    }

    .nav a_home {
        font-size: 32px;
    }

    .nav a:not(:first-child):hover {
        color: rgb(255, 195, 0);
        text-decoration: underline;
    }

.close {
    float: right;
    margin: 1em 1em 0em 0em;
}

    .close:hover {
        color: transparent;
        text-shadow: 0 0 0 rgb(255, 195, 0);
    }

.open {
    color: rgb(255, 195, 0);
    font-size: 3vw;
    float: right;
    margin: 1em 1em 0em 0em;
    display: block;
    cursor: pointer;
}

.flag-indonesia {
    margin-bottom: 20%
}

.flag-uk {
    margin-bottom: 20%;
    margin-right: 6px;
}

.flag-lang a:hover {
    text-decoration: none;
}

/*HOME*/
.header {
    background-image: url('/images/background/home_1.png');
    background-size: cover;
}

.logo {
    margin-top: 1%;
    width: 5.5vw;
    height: auto;
    max-width: 70px;
    float: left;
}

.mouse a {
    text-decoration: none;
    color: inherit
}

    .mouse a img {
        width: 1.6%;
    }

    .mouse a p {
        color: rgb(255, 195, 0)
    }

.header h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color: rgb(255, 195, 0);
    padding-top: 2%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11%;
    letter-spacing: 2px;
    vertical-align: middle;
}

.header h3 {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 2.5vw;
    padding-top: 0;
    margin-left: 12%;
    letter-spacing: 2px;
}

.header h4, .text_coal {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
}

.title_header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4.3vw;
    padding-top: 13%;
}

.content_header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6vw;
    padding-right: 15%;
}

text-konten-header {
    padding: 0;
}

.konten_header {
    padding-top: 2%;
}

.coal img {
    width: 80%;
}

/*MEDIA*/
.information .container {
    height: 80%;
}

.information {
    background-color: black;
}

.information-title {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 195, 0);
    font-size: 5vw;
    padding-top: 5%;
}

#information ul {
    padding-left: 48%;
    margin: 0;
}

#information span {
    background: white !important;
}

.media-slide h1 {
    color: white;
    font-size: 2.5vw;
    margin: 0 0 5px 0;
    padding: 0;
}

.media-slide p {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-style: italic;
    padding-top: 10px;
}

/*JOBSITE*/
.jobsite {
    background: black;
}

.container-content-jobsite {
    position: relative;
}

.img-jobsite img {
    width: 90%;
    height: auto;
    margin-top: 1%;
}

.jobsite-title {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 195, 0);
    font-size: 5vw;
    padding-top: 5%;
}

.jobsite-content {
    font-family: 'Noto Sans KR', sans-serif;
}

/*HISTORY*/
.history {
    background-image: url('/images/background/BG1.png');
    background-size: cover;
}

    .history h2 {
        color: gold;
        padding-top: 50px;
    }

.history-wrapper {
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.history-title {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 195, 0);
    font-size: 5vw;
}

/* Timeline */
.timeline,
.timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}

    .timeline:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: rgb(255, 195, 0);
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline .timeline-item {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline .timeline-item:before,
        .timeline .timeline-item:after {
            content: "";
            display: table;
        }

        .timeline .timeline-item:after {
            clear: both;
        }

        .timeline .timeline-item .timeline-badge {
            color: rgb(255, 195, 0);
            width: 54px;
            height: 54px;
            line-height: 52px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 18px;
            left: 50%;
            margin-left: -25px;
            background-color: #7c7c7c;
            z-index: 98;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

            .timeline .timeline-item .timeline-badge.warning {
                background-color: #d1bd10;
            }

        .timeline .timeline-item .timeline-panel {
            position: relative;
            width: 46%;
            float: left;
            right: 16px;
            border: 1px solid #c0c0c0;
            background: none;
            border-radius: 10px;
            padding: 20px;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            min-height: 135px;
        }

            .timeline .timeline-item .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -16px;
                display: inline-block;
                border-top: 16px solid transparent;
                border-left: 16px solid #c0c0c0;
                border-right: 0 solid #c0c0c0;
                border-bottom: 16px solid transparent;
                content: " ";
            }

            .timeline .timeline-item .timeline-panel .timeline-title {
                margin-top: 0;
                color: inherit;
            }

            .timeline .timeline-item .timeline-panel .timeline-body > p,
            .timeline .timeline-item .timeline-panel .timeline-body > ul {
                margin-bottom: 0;
            }

                .timeline .timeline-item .timeline-panel .timeline-body > p + p {
                    margin-top: 5px;
                }

        .timeline .timeline-item:last-child:nth-child(even) {
            float: right;
        }

        .timeline .timeline-item:nth-child(even) .timeline-panel {
            float: right;
            left: 16px;
        }

            .timeline .timeline-item:nth-child(even) .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
}

    .timeline-horizontal:before {
        height: 3px;
        top: auto;
        bottom: 26px;
        left: 56px;
        right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-horizontal .timeline-item {
        display: table-cell;
        height: 280px;
        width: 20%;
        min-width: 320px;
        float: none !important;
        padding-left: 0px;
        padding-right: 20px;
        margin: 0 auto;
        vertical-align: bottom;
    }

        .timeline-horizontal .timeline-item .timeline-panel {
            top: auto;
            bottom: 64px;
            display: inline-block;
            float: none !important;
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            margin-bottom: 20px;
        }

            .timeline-horizontal .timeline-item .timeline-panel:before {
                top: auto;
                bottom: -16px;
                left: 28px !important;
                right: auto;
                border-right: 16px solid transparent !important;
                border-top: 16px solid #c0c0c0 !important;
                border-bottom: 0 solid #c0c0c0 !important;
                border-left: 16px solid transparent !important;
            }

        .timeline-horizontal .timeline-item:before,
        .timeline-horizontal .timeline-item:after {
            display: none;
        }

        .timeline-horizontal .timeline-item .timeline-badge {
            top: auto;
            bottom: 0px;
            left: 43px;
        }

.timeline-horizontal {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

/*NEWS*/
.news {
    background: black;
}

    .news a {
        text-decoration: none;
        color: inherit;
    }

.news-card .card-img-top {
    width: 100%;
    height: 235px;
    object-fit: fill;
}

.news-title {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 195, 0);
    font-size: 5vw;
    padding-bottom: 3%;
}

.news-card {
    background-color: rgba(0, 0, 0, 0.7);
}

    .news-card h1 {
        font-size: 1.5vw;
        color: whitesmoke;
        padding: 0 7px 0 8px
    }

        .news-card h1:hover {
            color: rgb(255, 195, 0);
        }

    .news-card p {
        font-size: 1.2vw;
        color: whitesmoke;
        padding: 0 7px 0 8px
    }

        .news-card p:last-child {
            color: rgb(255, 195, 0);
        }

        .news-card p:last-child:hover {
            color: white;
        }

        .news .news-konten {
            padding-bottom: 20px;
        }

    .block-with-truncate {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

/*MANPOWER*/
.manpower {
    background-image: url('/images/background/lsp.png');
    background-size: cover;
    background-position: center;
}

.manpower-title {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 195, 0);
    font-size: 5vw;
    padding-top: 5%;
}

.img-sertifikat {
    width: 100%;
}

.img-lsp {
    width: 75%;
}

.img-bnsp {
    width: 100%;
    background: gray;
}

.vcenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.vend {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.manpower p {
    margin-bottom: 0.5rem;
}

.manpower .yellow-text {
    color: rgb(255, 195, 0);
    font-style: italic;
}

/*FOOTER*/
.footer {
    background: rgb(255, 195, 0);
    font-family: 'Nunito', sans-serif;
    color: black;
}

    .footer h5 {
        font-size: 18px;
    }

    .footer h6 {
        font-size: 14px;
    }

    .footer p {
        font-size: 12px;
    }

.footer-telephone img {
    width: 2%;
}

.footer-fax img {
    width: 2%;
}

.copyright {
    font-size: 14px;
}

.widget a{
    text-decoration: none;
    color: inherit;
}

.icon-widget {
    color: black;
}

.icon-widget:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    #fp-nav {
        display: none !important;
    }

    .logo {
        width: 12%;
    }

    .openhome {
        font-size: 6vw;
    }

    .header h1 {
        margin-left: 14%;
        padding-top: 5%;
        font-size: 3vw;
    }

    .title_header {
        padding: 0;
        padding-top: 0;
        font-size: 7vw;
    }

    .konten_header {
        margin: 0
    }

    .content_header {
        font-size: 4vw;
        margin-bottom: 0
    }

    .text-konten-header {
        padding: 0;
    }

    #home .coal img {
        width: 100%;
        padding-top: 10%;
        margin-bottom: 15%;
    }

    .flag-lang {
        width: 18%;
        padding-left: 5px;
    }

    .flag-indonesia {
        width: 30%;
    }

    .flag-uk {
        width: 30%;
        margin-right: 0;
    }

    .coal {
        padding: 0;
    }

    .mouse a img {
        width: 100%;
    }

    #home .coal img {
        width: 100%;
        padding-top: 25%
    }

    .flag-lang {
        width: 18%;
        padding-left: 5px;
    }

    .information-title {
        font-size: 24px;
    }

    #information ul {
        margin-top: -25%;
    }

    .media-slide {
        padding-top: 10%;
    }

        .media-slide p {
            font-size: 3vw;
        }

    .img-jobsite {
        padding-top: 10%;
    }

    .jobsite-content {
        top: auto;
        left: auto;
    }

        .jobsite-content h4 {
            font-size: 3.5vw;
        }

        .jobsite-content p {
            font-size: 3vw;
        }

    .history-title h3 {
        font-size: 24px;
    }

    .timeline-title {
        font-size: 1.5em;
    }

    .timeline-body {
        font-size: 1em;
    }

    .timeline .timeline-item .timeline-panel {
        min-height: 140px;
        padding: 10px;
    }

    .timeline-horizontal .timeline-item {
        min-width: 250px;
    }

    .news-card h1 {
        font-size: 1em;
    }

    .news-card p {
        font-size: 0.8em;
    }

    #information ul {
        margin-top: 5px;
    }

    .manpower-title {
    font-size: 24px;
    }

    .manpower p {
        font-size: 14px;
        text-align: justify;
        text-justify: inter-word;
    }

    .img-sertifikat {
        width: 100%;
        margin-bottom: 16px;
    }

    .img-lsp {
        width: 100%;
        margin-bottom: 16px;
    }

    .img-bnsp {
        width: 100%;
        margin-bottom: 16px;
        background: gray;
    }

    .manpower .btnlsp {
        margin-top: 16px;
    }

    .footer-telephone img {
        width: 4%;
    }

    .footer-fax img {
        width: 4%;
    }
}