﻿@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: 0;
    margin: 0
}

.narrative {
    font-family: 'Asap', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 15%;
}

li {
    float: left;
    font-size: 20px;
}

    li a {
        display: block;
        color: #eaeaea;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            text-decoration: none;
            color: yellow;
        }

        li a:active {
            color: #253c7f;
        }

.narrative p {
    color: #eaeaea
}

.slide {
    width: auto;
    height: auto;
}

.glow {
    color: #fff;
    -webkit-animation: glow 0.8s ease-in-out infinite alternate;
    -moz-animation: glow 0.8s ease-in-out infinite alternate;
    animation: glow 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #e60073, 0 0 35px #e60073, 0 0 45px #e60073, 0 0 55px #e60073;
    }

    to {
        text-shadow: 0 0 15px #fff, 0 0 25px #ff4da6, 0 0 35px #ff4da6, 0 0 45px #ff4da6, 0 0 60px #ff4da6, 0 0 60px #ff4da6;
    }
}