﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    padding: 0;
    margin: 0
}
/*LOGO DAN TAB MENU*/
header {
    text-align: center;
}

.logo-pama {
    width: 5.5vw;
    height: auto;
    float: left;
    margin: 1.5em 1em 0 1.5em;
}

.open {
    color: rgb(255, 195, 0);
    font-size: 3vw;
    float: right;
    display: block;
    cursor: pointer;
    margin-top: 1%;
}

/*NAV*/
.nav {
    width: 0;
    overflow-x: hidden;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background: black;
    transition: .3s;
    display: block;
    text-align: center;
}

    .nav a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding: .5em 0;
        transition: .3s;
        clear: right;
    }

    .nav a_home {
        font-size: 32px;
    }

    .nav a:not(:first-child):hover {
        color: rgb(255, 195, 0);
        text-decoration: underline;
    }

.close {
    float: right;
    margin: 1em 1em 0em 0em;
}

    .close:hover {
        color: transparent;
        text-shadow: 0 0 0 rgb(255, 195, 0);
    }

.open {
    color: transparent;
    text-shadow: 0 0 0 rgb(255, 195, 0);
    font-size: 3vw;
    float: right;
    margin: 1em 1em 0em 0em;
    display: block;
    cursor: pointer;
}

.header-top-news a {
    font-family: Nunito Sans, sans-serif;
    text-decoration: none;
    color: inherit;
}

    .header-top-news a:hover {
        color: rgb(255, 195, 0);
    }

    .header-top-news a:last-child {
        color: rgb(255, 195, 0);
    }

        .header-top-news a:last-child:hover {
            color: white;
        }

.header-side-news a {
    font-family: Nunito Sans, sans-serif;
    text-decoration: none;
    color: inherit;
}

    .header-side-news a:hover {
        color: rgb(255, 195, 0);
    }

    .header-side-news a:last-child {
        color: rgb(255, 195, 0);
    }

        .header-side-news a:last-child:hover {
            color: white;
        }

.jumbotron-fluid {
    background-image: url('/images/background/photoasset1.png');
    background-color: black;
    background-size: 75%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat
}

hr {
    border: solid;
    color: white
}

.card a {
    text-decoration: none;
    color: inherit
}

.card-img-top {
    max-height: 190px;
    min-height: 150px;
    object-fit: cover;
}

.card-body {
    margin-left: -5%;
}

.column-event {
    background: black;
}

.side-event a {
    font-family: Nunito Sans, sans-serif;
    text-decoration: none;
    color: white;
}

    .side-event a:hover {
        color: rgb(255, 195, 0);
    }

.events-side-title {
    padding-top: 5%;
    font-family: Nunito Sans, sans-serif;
    font-weight: bold
}

.event-title {
    font-family: Nunito Sans, sans-serif;
    font-size: 1.4vw;
}

.kurs-title {
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
}

table {
    font-family: Nunito Sans, sans-serif;
}

td {
    background: rgb(255, 195, 0);
}

.news-card-date {
    font-family: Nunito Sans, sans-serif;
    font-size: 1vw;
}

.news-card-title {
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

    .news-card-title a:hover {
        color: rgb(255, 195, 0);
    }

.news-card-content {
    font-family: Nunito Sans, sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.footer-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    color: black;
}

@media only screen and (max-width: 576px) {
    .logo-pama {
        width: 12%;
    }

    .open {
        font-size: 6vw;
    }

    .jumbotron-fluid {
        background-size: 80%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat
    }

    .header-news h2 {
        font-size: 4vw;
    }

    .header-news p {
        font-size: 2.5vw;
    }

    .header-side-news h4 {
        font-size: 3.5vw;
    }

    .btn {
        font-size: 2.2vw;
    }

    .news-card-date {
        font-size: 2.3vw;
    }

    .news-card-title {
        font-size: 3vw;
    }

    .news-card-content {
        font-size: 2.3vw;
    }

    .events-side-title {
        font-size: 4vw;
        padding-top: 10%;
    }

    .event-date {
        font-size: 2.2vw;
    }

    .event-title {
        font-size: 2.6vw;
    }

    table {
        font-size: 2.8vw;
    }

    .footer-text {
        font-size: 2.5vw;
    }

    .kurs-title {
        font-size: 4vw;
        padding-top: 10%;
    }
}
