﻿@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

.jumbotron-fluid {
    background-image: url('/images/background/photoasset5.png');
    background-color: black;
    background-size: 58%;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat
}

.content-title {
    font-family: 'Nunito Sans', sans-serif;
}

.content-description {
    font-family: 'Nunito Sans', sans-serif;
}

h6 {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0.5em;
}

.header-title h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.imgilust img {
    width: 120%;
}

@media only screen and (max-width: 600px) {
    .jumbotron-fluid {
        min-height: 0;
        background-size: 75%;
    }

    .header-title h1 {
        font-size: 4.5vw;
    }

    h2 {
        font-size: 5vw;
    }
}