﻿<link rel="stylesheet" href="~/css/elearning.css" type="text/css" media="screen" runat="server" />

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-white header-title">
        <br />
        <br />
        <br />
        <h1>E-Learning</h1>
        <br />
    </div>
</div>
<div class="p-3 container bg-dark rounded mt-n4">
    <div class="row">
        <div class="col-3 text-center dropdown border-0">
            <button type="button" class="btn btn-outline-light dropdown-toggle mt-2" data-toggle="dropdown">
                Categories
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="Elearning?param=1">All</a>
                <a class="dropdown-item" href="Elearning?param=2">Video</a>
                <a class="dropdown-item" href="Elearning?param=3">Pdf</a>
            </div>
        </div>
        @*<form class="input-group offset-1 col-8">
            <input class="form-control py-2 border-right-0 border" name="searchString" type="search" placeholder="search" id="search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-light border-left-0 border" type="submit" value="Filter">
                    <i class="icon-magnifier"></i>
                </button>
            </span>
        </form>*@
    </div>
</div>
<div class="container mt-2 content-wrapper mb-5">
    <div class="row">
        @{
            List<LearningModule> generals = ViewBag.General;
            if (generals.Count > 0)
            {
                foreach (var all in generals)
                {
                    <div class="col-md-4 my-3">
                        <div class="card h-100 bg-white">
                            @{
                                String pdflink = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + all.Pdflink;

                                if (all.LearningModuleType == 1)
                                {
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item card-img-top p-1" src="@all.VideoUrl" allowfullscreen></iframe>
                                    </div>
                                }
                                else
                                {
                                    <a href=" @Html.DisplayFor(modelItem => pdflink)" target="_blank">
                                        <img src="~/images/pdf.png" alt="pdf" class="card-img-top p-1" style="max-height:196px; object-fit:cover" />
                                    </a>
                                }
                            }
                            <div class="card-body">
                                <h4 class="card-title" id="elearning-title">@all.Name</h4>
                                <p class="card-text">@all.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>