﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/visimisi.css" type="text/css" media="screen" runat="server" />

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-white header-title">
        <br />
        <br />
        <br />
        <h1 class="font-weight-bold">@Localizer["main_title"]</h1>
        <br />
    </div>
</div>

<div class="container mt-n5">
    <div class="row mx-0 mb-5 mt-5">
        <div class="col-md-7 content-wrapper">
            <h2 class="text-white">@Localizer["mission_title"]</h2>
            @{
                List<Missions> missions = ViewBag.Missions;
                foreach (var mission in missions)
                {
                    <div class="row">
                        <div class="col-11 mb-2 content-description text-white pl-5 text-justify">
                            <ul>
                                <li>@mission.Description</li>
                            </ul>
                        </div>
                    </div>
                }
            }
            <h2 class="text-white">@Localizer["vision_title"]</h2>
            @{
                List<Visions> visions = ViewBag.Visions;
                foreach (var vision in visions)
                {
                    <div class="row">
                        <div class="col-11 mb-2 content-description text-white pl-5 text-justify">
                            <ul>
                                <li>@vision.Description</li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-5 imgilust">
            <img src="~/images/visimisiilustrasi.png" alt="" class="m-auto d-block align-content-center" />
        </div>
    </div>
</div>