﻿@model PamaWeb.Models.News
@{
    List<News> detailnews = ViewBag.DetailNews;

}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/detailnews.css" type="text/css" media="screen" runat="server" />

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container header-title text-white">
        <br />
        <br />
        <br />
        <h1>@Localizer["main_title"]</h1>
        <br />
    </div>
</div>

<div class="container mt-n5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <ul class="breadcrumb m-1">
                <li class="breadcrumb-item text-black-50"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item text-black-50"><a asp-area="" asp-controller="News" asp-action="Index">News</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Title)</li>
            </ul>
            <h2 class="news-detail-title py-2">@Html.DisplayFor(model => model.Title)</h2>
            <div class="bg-white px-3 pt-2">
                @{
                    String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + Model.ImageBaner;
                    if (Model.VideoImage == 1)
                    {
                        <iframe src="@Html.DisplayFor(model => model.UrlVideo)" frameborder="0" allowfullscreen class="card-img-top mt-2" style="height: 400px;"></iframe>
                    }
                    else
                    {
                        <img src="@imageurl" alt="" style="width:100%" />
                    }
                }
            </div>
            <div class="publish-date bg-white pl-3 pt-2">Pamapersada.com - @Model.PublishDate.ToString("dd MMMM yyyy")</div>
            <div class="content bg-white p-3"> @Html.Raw(Model.Content)</div>
        </div>
        <div class="col-md-4 mt-2 column-sidenews">
            <h4 class="side-news-title mb-2">Latest News</h4>
            @{
                foreach (var berita in detailnews)
                {
                    <div class="sidenews mb-2 p-2 side-event">
                        @{
                            String sideimageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + berita.ImageBaner;
                            if (berita.VideoImage == 1)
                            {
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item mt-2" src="@berita.UrlVideo" allowfullscreen></iframe>
                                </div>
                            }
                            else
                            {
                                <img class="mt-2" src=@sideimageurl alt="Card image" style="">

                            }
                        }
                        <p class="sidenews-date font-weight-light text-white m-0"><span class="fa fa-calendar-check"></span>  @berita.PublishDate.ToLongDateString()</p>
                        <a asp-action="Details" asp-route-id="@berita.Id">
                            <p class="sidenews-title font-weight-bold mt-1 text-white">@berita.Title</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>