﻿@{
    List<News> news = ViewBag.News;
}
@{
    Layout = "";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PT PAMAPERSADA NUSANTARA</title>
    <link href="~/faviconpama.ico" rel="shortcut icon" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom Fonts -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/news.css" />
    <script src="~/js/clarity.js" type="text/javascript"></script>
    <!-- </head> -->
</head>
<body>
    <header>
        <!-- Navigation -->
        <div>
            <div class="nav" id="nav">
                <a href="javascript:void(0)" id="close" class="close" onclick="closeNav()">&times;</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["menu_home"]</a>
                <a asp-area="" asp-controller="AboutUs" asp-action="Index">@Localizer["menu_aboutus"]</a>
                <a asp-area="" asp-controller="VisiMisi" asp-action="Index">@Localizer["menu_visimisi"]</a>
                <a asp-area="" asp-controller="BodBoc" asp-action="Index">BOC & BOD</a>
                <a asp-area="" asp-controller="BusinessPortfolio" asp-action="Index">@Localizer["menu_bisnis"]</a>
                <a asp-area="" asp-controller="History" asp-action="Index">@Localizer["menu_history"]</a>
                <a asp-area="" asp-controller="Award" asp-action="Index">@Localizer["menu_award"]</a>
                <a asp-area="" asp-controller="Map" asp-action="Index">@Localizer["menu_area"]</a>
                <a asp-area="" asp-controller="News" asp-action="Index">@Localizer["menu_mediaroom"]</a>
                <a asp-area="" asp-controller="Elearning" asp-action="Index">E-Learning</a>
                <a asp-area="" asp-controller="Landing" asp-action="Index">Storyboard</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo-pama" style="" src="~/images/logopama.png" alt="logopama" />
                </a>
                <span id="open" class="open" onclick="openNav()">
                    &#9776
                </span>
            </div>
        </div>
        <!-- Navigation end -->
    </header>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container header-news text-white align-items-center">
            <br />
            <br />
            <br />
            <div class="mt-2 mb-5">
                @{
                    int indexnews = 0;
                    foreach (var berita in news)
                    {
                        if (indexnews == 0)
                        {
                            <div class="header-top-news">
                                <a asp-action="Details" asp-route-id="@berita.Id">
                                    <h2 class="font-weight-bold">@berita.Title</h2>
                                </a>
                                <p class="m-0">publish : @berita.PublishDate.ToShortDateString()</p>
                                <a href="@berita.SourceUrl" target="_blank">
                                    <p class="font-weight-light m-0 text-truncate">Source : @berita.SourceUrl</p>
                                </a>
                            </div>
                        }
                        indexnews++;
                    }

                }
            </div>
            <hr />
            <div class="row mt-4">
                @{
                    indexnews = 0;
                    foreach (var berita in news)
                    {
                        if (indexnews > 0 && indexnews < 4)
                        {
                            <div class="col-md-4 header-side-news">
                                <a asp-action="Details" asp-route-id="@berita.Id">
                                    <h5 class="font-weight-bold">
                                        @berita.Title
                                    </h5>
                                </a>
                                <p class="m-0">publish : @berita.PublishDate.ToShortDateString()</p>
                                <a href="@berita.SourceUrl" target="_blank">
                                    <p class="font-weight-light m-0 text-truncate">Source : @berita.SourceUrl</p>
                                </a>
                            </div>
                        }
                        indexnews++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="container-fluid rounded my-4 justify-content-around">
        <div class="row">
            <div class="col-8 mt-2">
                <div class="row">
                    @{
                        indexnews = 0;
                        foreach (var berita in news)
                        {
                            if (indexnews > 4)
                            {
                                <div class="col-md-5 ml-md-5">
                                    <div class="card border-0" style="margin: 0 5px 10px 5px;">
                                        @{
                                            String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + berita.ImageBaner;
                                            if (berita.VideoImage == 1)
                                            {
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item mt-2" src="@berita.UrlVideo" allowfullscreen></iframe>
                                                </div>
                                            }
                                            else
                                            {
                                                <img class="card-img-top mt-2" src=@imageurl alt="Card image" style="object-fit: cover;" />

                                            }
                                        }
                                        <div class="card-body header-side-news">
                                            @*<span class="badge badge-pill badge-primary">Category</span>*@
                                            <a asp-action="Details" asp-route-id="@berita.Id">
                                                <h5 class="news-card-title card-title m-0">@berita.Title</h5>
                                            </a>
                                            <p class="news-card-date m-0"><span class="fa fa-calendar-check"></span>  @berita.PublishDate.ToLongDateString()</p>
                                            <a href="@berita.SourceUrl" target="_blank">
                                                <p class="font-weight-light m-0 text-truncate news-card-date">Source : @berita.SourceUrl</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            indexnews++;
                        }
                    }
                </div>
            </div>
            <div class="col-4 mt-2 column-event">
                <h4 class="text-white mb-3 events-side-title">@Localizer["events"]</h4>
                @{
                    List<News> even = ViewBag.Event;
                    foreach (var objevent in even)
                    {
                        <div class="event mb-2 p-2 side-event">
                            @{
                                String imageurl = PamaWeb.GeneralClass.GeneralClass.backendUrl + "" + objevent.ImageBaner;
                                if (objevent.VideoImage == 1)
                                {
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <iframe class="embed-responsive-item mt-2" src="@objevent.UrlVideo" allowfullscreen></iframe>
                                    </div>
                                }
                                else
                                {
                                    <img class="mt-2" src=@imageurl alt="News image" style="width:100%">
                                }
                            }
                            <p class="event-date font-weight-light text-white m-0"><span class="fa fa-calendar-check"></span>  @objevent.PublishDate.ToLongDateString()</p>
                            <a asp-action="Details" asp-route-id="@objevent.Id">
                                <p class="event-title font-weight-bold mt-1">@objevent.Title</p>
                            </a>
                        </div>
                    }
                }
                <!-- <hr />
                <div>
                    <h5 class="text-white mb-3 kurs-title">@Localizer["kurs"]</h5>
                    <table class="table table-responsive-sm table-striped table-light table-sm text-center">
                        <thead>
                            <tr>
                                <th>@Localizer["currency"]</th>
                                <th>@Localizer["selling_rate"]</th>
                                <th>@Localizer["buying_rate"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Kurs> kurs = ViewBag.Kurs;
                                foreach (var kur in kurs)
                                {
                                    <tr>
                                        <td>@kur.CurrencyCode</td>
                                        <td>@kur.ExchangeRate</td>
                                        <td>@kur.BuyingValue</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                   -->
            </div>
        </div>
    </div>
    <section class="content-section" id="footers" style="background: rgb(255, 195, 0);">
        <div class="container">
            <div class="p-3">
                <h6 class="font-weight-bold footer-text">Copyright &copy; 2019 - PT Pamapersada Nusantara</h6>
            </div>
        </div>
    </section>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <!-- </body></html> -->
</body>
</html>