﻿@{
    ViewData["Title"] = "About Us";
}
@{
    Layout = "";
}

@model AboutUs;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PT PAMAPERSADA NUSANTARA</title>
    <link href="~/faviconpama.ico" rel="shortcut icon" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/aboutus.css" type="text/css" media="screen" runat="server" />
    <link rel="stylesheet" href="~/vendor/fullpage/fullpage.css" type="text/css" media="screen" runat="server" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/js/clarity.js" type="text/javascript"></script>
    <!-- </head> -->
</head>
<body>
    <!--FULLPAGE-->
    <div id="fullpage">
        <div class="section" id="glance">
            <!-- Header -->
            <div class="nav" id="nav">
                <a href="javascript:void(0)" id="close" class="close" onclick="closeNav()">&times;</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["menu_home"]</a>
                <a asp-area="" asp-controller="AboutUs" asp-action="Index">@Localizer["menu_aboutus"]</a>
                <a asp-area="" asp-controller="VisiMisi" asp-action="Index">@Localizer["menu_visimisi"]</a>
                <a asp-area="" asp-controller="BodBoc" asp-action="Index">BOC & BOD</a>
                <a asp-area="" asp-controller="BusinessPortfolio" asp-action="Index">@Localizer["menu_bisnis"]</a>
                <a asp-area="" asp-controller="History" asp-action="Index">@Localizer["menu_history"]</a>
                <a asp-area="" asp-controller="Award" asp-action="Index">@Localizer["menu_award"]</a>
                <a asp-area="" asp-controller="Map" asp-action="Index">@Localizer["menu_area"]</a>
                <a asp-area="" asp-controller="News" asp-action="Index">@Localizer["menu_mediaroom"]</a>
                <a asp-area="" asp-controller="Elearning" asp-action="Index">E-Learning</a>
                <a asp-area="" asp-controller="Landing" asp-action="Index">Storyboard</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/logopama.png" alt="logopama" />
                </a>
                <div id="open" class="openhome" onclick="openNav()" data-toggle="tooltip" data-placement="bottom" title="Menu">
                    &#9776
                </div>
            </div>
            <div class="container wrapper-glance">
                <div class="row justify-content-center content-title">
                    <h2 class="text-white">
                        @Localizer["content_title"]
                    </h2>
                </div>
                <br />
                <div class="row justify-content-around mb-md-4">
                    <div class="col-md-5 our-faith order-md-2">
                        <h3 class="py-1 text-warning d-block">
                            @Localizer["our_mission_title"]
                        </h3>
                        <ul class="text-white">
                            <li class="mb-2">
                                @Localizer["our_mission1"]
                            </li>
                            <li class="mb-2">
                                @Localizer["our_mission2"]
                            </li>
                            <li class="mb-2">
                                @Localizer["our_mission3"]
                            </li>
                            <li>
                                @Localizer["our_mission4"]
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 our-vision order-md-1">
                        <h3 class="py-1 text-warning d-block">
                            @Localizer["our_vision_title"]
                        </h3>
                        <ul class="text-white">
                            <li class="mb-1">
                                @Localizer["our_vision"]
                            </li>
                            <li class="mb-1">
                                @Localizer["our_vision2"]
                            </li>
                            <li class="mb-1">
                                @Localizer["our_vision3"]
                            </li>
                            <li>
                                @Localizer["our_vision4"]
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-around mb-md-4">
                    <div class="col-md-5 our-faith our-services order-md-2">
                        <h3 class="py-1 text-warning">
                            @Localizer["our_excellent_services_title"]
                        </h3>
                        <p class="text-white">
                            @Localizer["our_excellent_services"]
                        </p>
                    </div>
                    <div class="col-md-5 our-faith order-md-2">
                        <h3 class="py-1 text-warning">
                            @Localizer["our_quality_policy_title"]
                        </h3>
                        <table class="text-white">
                            <tr>
                                <td>F</td>
                                <td class="px-1">- </td>
                                <td>@Localizer["f"]</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td class="px-1">- </td>
                                <td>@Localizer["a"]</td>
                            </tr>
                            <tr>
                                <td>I</td>
                                <td class="px-1">- </td>
                                <td>@Localizer["i"]</td>
                            </tr>
                            <tr>
                                <td>T</td>
                                <td class="px-1">- </td>
                                <td>@Localizer["t"]</td>
                            </tr>
                            <tr>
                                <td>H</td>
                                <td class="px-1">- </td>
                                <td>@Localizer["h"]</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row mt-2 justify-content-around">
                    <div class="col-md-3 text-center text-white our-services">
                        <h4 class="py-1 text-warning">
                            @Localizer["exploration_title"]
                        </h4>
                        <p class="p-3 text-white">
                            @Localizer["exploration"]
                        </p>
                    </div>
                    <div class="col-md-3 text-center text-white our-services">
                        <h4 class="py-1 text-warning">
                            @Localizer["infrastructure_preparation_title"]
                        </h4>
                        <p class="p-3 text-white">
                            @Localizer["infrastructure_preparation"]
                        </p>
                    </div>
                    <div class="col-md-3 text-center text-white our-services">
                        <h4 class="py-1 text-warning">
                            @Localizer["mining_operation_title"]
                        </h4>
                        <p class="p-3">
                            @Localizer["mining_operation"]
                        </p>
                    </div>
                </div>
                <div class="row my-3 justify-content-around">
                    <div class="col-md-3 text-center text-white our-services">
                        <h4 class="py-1 text-warning">
                            @Localizer["planning_title"]
                        </h4>
                        <p class="p-3">
                            @Localizer["planning"]
                        </p>
                    </div>
                    <div class="col-md-4 text-center text-white our-services reclamation">
                        <h4 class="py-1 text-warning">
                            @Localizer["reclamation_title"]
                        </h4>
                        <p class="pt-3 m-0">
                            @Localizer["reclamation"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-white fp-auto-height" id="mainglance">
            <div class="container">
             
                <div class="row my-5 justify-content-around">
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_main_equip_title"]
                        </h4>
                        <div class="row pt-2">
                            <div class="col-6 p-0 icontruck">
                                <img src="~/images/icontruck.png" alt="" />
                            </div>
                            <div class="col-6 p-0">
                                <p class="number-main-equip m-0">
                                    @Model.MainEquipmentNumber
                                </p>
                                <p class="content-our m-0">
                                    @Localizer["our_main_equip"]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_employee_title"]
                        </h4>
                        <div class="row pt-3">
                            <div class="col-4 iconemployee">
                                <img src="~/images/iconworker.png" alt="" />
                            </div>
                            <div class="col">
                                <p class="number-main-equip m-0">
                                    @Model.EmployeeNumber
                                </p>
                                <p class="content-our m-0">
                                    @Localizer["our_employee"]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-2 justify-content-around">
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_mine_title"]
                        </h4>
                        <div class="row pt-2">
                            <div class="col-md-6 col-5">
                                <img src="~/images/iconminegold.png" alt="" style="width: 100%" />
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-4 number-mine p-0">
                                        <p class="text-md-right m-0">
                                            @Model.JobsiteNumber
                                        </p>
                                    </div>
                                    <div class="col-md content-mine align-self-md-center">
                                        <p class="m-0">
                                            @Localizer["jobsite"]
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-md-n4">
                                    <div class="col-md-4 number-mine p-0">
                                        <p class="text-md-right m-0">
                                            @Model.SupportOfficeNumber
                                        </p>
                                    </div>
                                    <div class="col-md content-mine align-self-md-center">
                                        <p class="m-0">
                                            @Localizer["support_office"]
                                        </p>
                                        <ul class="list-support-office">
                                            <li>
                                                Balikpapan
                                            </li>
                                            <li>
                                                Banjarmasin
                                            </li>
                                            <li>
                                                Palangkaraya
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_affco"]
                        </h4>
                        <div class="row pt-2">
                            <div class="col-5">
                                <img src="~/images/iconaffiliate.png" alt="" style="width: 80%" />
                            </div>
                            <div class="col-7">
                                <div class="row align-items-md-center">
                                    <div class="col-md-4 number-mine text-md-right p-0">
                                        <p class="m-0">
                                            @Model.AfflicationCompanyNumber
                                        </p>
                                    </div>
                                    <div class="col-md content-mine">
                                        <p class="m-0">
                                            @Localizer["affco"]
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-md-n4">
                                    <div class="col-md-4 number-mine p-0">
                                        <p class="text-md-right m-0">
                                            @Model.MaintainByNumber
                                        </p>
                                    </div>
                                    <div class="col-md content-mine align-self-md-center">
                                        <p>
                                            @Localizer["maintain_affco"]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section fp-auto-height" id="portfolio">
            <div class="container">
                <div class="row my-5 justify-content-around">
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_portfolio_title"]
                        </h4>
                        <div class="mt-4 portfoliolist">
                            <a href="http://www.kppmining.com/SitePages/Welcome.aspx" class="" target="_blank"><p>Integrated Mining Operation</p></a>
                            <a href="#" class=""><p>Coal Trading​</p></a>
                            <a href="https://turanggaresources.com/" class="" target="_blank"><p>Coal Concession Owner</p></a>
                            <a href="https://www.agincourtresources.com/id/beranda/" class="" target="_blank"><p>Mineral Concession Owner​</p></a>
                            <a href="http://epnusantara.com/" class="" target="_blank"><p>Energy Provider</p></a>
                        </div>
                    </div>
                    <div class="col-5 text-white our-services p-0">
                        <h4 class="py-1 text-warning title-our">
                            @Localizer["our_certificate_title"]
                        </h4>
                        <div class="mt-4">
                            <img class="w-100" src="~/images/certificateiso.jpg" alt="" />
                            <div class="mt-4 text-warning isolist">
                                <ul>
                                    <li>ISO 9001</li>
                                    <li>ISO 14001</li>
                                    <li>ISO 45001</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainfooter" class="section footer fp-auto-height">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-md-2">
                        <h5 class="footer-title mt-3 font-weight-bold">Contact Us</h5>
                        <h6 class="font-weight-bold mt-3 mb-0">
                            PT PAMAPERSADA NUSANTARA
                        </h6>
                        <p class="p-0 m-0">
                            Jl. Rawagelam I No.9, Kawasan Industri Pulogadung
                        </p>
                        <p class="p-0 m-0">
                            Jakarta 13930, Indonesia
                        </p>
                        <p class="p-0 m-0">
                            <span class="pr-1 m-0 footer-telephone"><img src="~/images/telephoneblack.png" alt="image telephone" /></span> (+62 21) 460 2015 (hunting)
                        </p>
                        <p class="p-0 m-0">
                            <span class="pr-1 m-0 footer-fax"><img src="~/images/faxblack.png" alt="image fax" /></span> (+62 21) 461 4010 / 460 1916
                        </p>
                        <p class="copyright font-weight-bold footer-text p-0">Copyright &copy; 2019 - PT Pamapersada Nusantara</p>
                    </div>
                    <div class="col-md-4 widget">
                        <h5 class="widget-title footer-title mt-3 font-weight-bold">Follow Us</h5>
                        <div class="widget-content mt-3 mb-5">
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-instagram icon-widget"></i></a>
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-facebook icon-widget"></i></a>
                            <a target="_blank" href="" class="p-1" onclick="return false;"><i class="fa fa-2x fa-youtube-play icon-widget"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Tutup News-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/vendors/scrolloverflow.min.js"></script>
    <script src="~/vendor/fullpage/fullpage.js" type="text/javascript"></script>
    <script src="~/vendor/fullpage/fullpage.min.js" type="text/javascript"></script>
    <script src="~/js/aboutus.js" asp-append-version="true"></script>
    <!-- </body></html> -->
</body>
</html>